.button {
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	color: #fff;
	background-color: darkmagenta;
	outline: none;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		scale: 0.95;
	}
}