.header {
	padding: 2rem 3rem;
	color: #fafafa;
	background-color: darkmagenta;
	text-align: center;
}

.pokemon {
	padding: 1rem;
	display: flex;

	&:not(:last-child) {
		border-bottom: 0.1rem solid darkmagenta;
	}

	.pokemonIndex {
		align-self: flex-end;
		font-size: 1.5rem;
	}

	.pokemonName {
		align-self: flex-end;
		font-size: 2rem;
		text-transform: capitalize;
	}

	button {
		margin-left: auto;
		padding: 0.5rem 1rem;
		font-size: 1.4rem;
		color: #fff;
		background-color: darkmagenta;
		outline: none;
		border: none;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			scale: 0.95;
		}
	}
}